
<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>

  body {
    
    background-color: #A0A0A0;
  }
  </style>
</head>

<body>

<div id="player-container" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 id="player-header" class="text-center">Ranking of Players</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
  <%= link_to(" Add New Player", {:action => 'new'}, :class => 'btn btn-success btn-sm glyphicon glyphicon-plus')%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover table-bordered" summary="Player list">
        <tr class="header">
          <th>Ranking</th>
          <th>Player</th>
          <th>Points</th>
          <th>Actions</th>
        </tr>
        <% @players.each do |player| %>
        <tr>
          <td><%= player.ranking %></td>
          <td><%= player.name %></td>
          <td><%= player.points %></td>
          <td class="actions">
            <%= link_to("Show", {:action => 'show' , :id => player.id},  :class => 'btn btn-info') %>
            <%= link_to("Edit", {:action => 'edit' , :id => player.id},  :class => 'btn btn-primary') %>
            <%= link_to("Delete", {:action => 'delete' , :id => player.id},  :class => 'btn btn-warning') %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="img-responsive text-center" ><%= image_tag "ryu_transparent.png", :width => '75%' %> </div>
      </div>
      <div class="col-xs-4">
        <div class="img-responsive text-center" ><%= image_tag "doom_transparent.png", :width => '75%' %> </div>
      </div>
      <div class="col-xs-4">
        <div class="img-responsive text-center" ><%= image_tag "falco_transparent.png", :width => '75%' %> </div>
      </div>
    </div>
</div>


</body>
</html>

