<div class="players index">
  <h2>Players</h2>

  <%= link_to("Add New Player", {:action => 'new'}, :class => 'action new') %>

  <table class="listing" summary="Player list">
    <tr class="header">
      <th>Ranking</th>
      <th>Player</th>
      <th>Points</th>
    </tr>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.ranking %></td>
      <td><%= player.name %></td>
      <td><%= player.points %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show' , :id => player.id},  :class => 'action show') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

